<div class="college-detail-container">

	<div class="row no-gutters justify-content-between align-items-start flex-wrap">
		<div class="col-9"><h2 class="h5 text-right" style="line-height: 1.6em">{{college?.title}}</h2></div>
		<div class="col-3 text-left">
			<a [routerLink]="['/']" class="p-2">
				<img src="assets/svg/chevron-left.svg">
			</a>
		</div>
	</div>

	<div class="row mt-3">
		<div class="col-lg-5 col-md-12 mb-4">

			<div class="mb-4">
				<small>نوع مرکز</small>
				<h6 class="mt-1">{{college?.collegeType | collegeType}}</h6>
			</div>

			<div>
				<div class="small">اطلاعات تماس</div>


				<h6 class="mt-3">
					<img src="./assets/svg/phone.svg" width="18">
					{{college?.telephone.join(' - ')}}
				</h6>

				<h6 class="mt-3">
					<img src="./assets/svg/map-marker.svg" width="18">
					{{college?.address}}
				</h6>
			</div>

			<div class="mt-4">
				<small>ویژگی ها</small>
				<ul>
					<li *ngFor="let feature of college?.features">{{feature}}</li>
				</ul>
			</div>

		</div>
		<div class="col-lg-7 col-md-12">

			<carousel>
				<slide *ngFor="let image of college?.images">
					<img src="{{image}}" alt="{{college?.title}}" style="display: block; width: 100%;">
				</slide>
			</carousel>

		</div>
	</div>

	<a target="_blank" style="color: #fff" class="btn btn-primary btn-sm" href="https://www.google.com/maps/dir//{{college.latLng.latitude}},{{college.latLng.longitude}}">مسیریابی</a>

	<p class="text-right text-justify mt-4">{{college?.description}}</p>

</div>
