#footer {
	text-align: center;
	font-size: .85em;
	font-weight: normal;
	padding-bottom: 15px;

	background: url('./assets/svg/footer-bg.svg') no-repeat center bottom;
	background-size: 100% 98%;

	padding-top: 130px;


	@include media-breakpoint-down(sm) {
		background-size: 200% 75%;
	}
}
