.map-leaflet {
	height: 700px;

	@include media-breakpoint-down(sm) {
		min-height: 500px;
	}
}

.college-detail-container {
	padding: 25px;
	min-height: 600px;

	a {
		color: black;
		text-decoration: none;
	}

	ul {
		padding-right: 25px;

		li {
			margin-top: 5px;
		}
	}
}
