html, body {
	font-family: iranyekan;
	direction: rtl;
	text-align: right;

	//background: linear-gradient(to right,#48B2F8, #267AB1);
	background-color: #48B2F8;
	//background-color: #267AB1;
	height: 100%;
}
