.ng-select .ng-arrow-wrapper .ng-arrow {
	width: 7px !important;
	height: 7px !important;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
	padding-right: 10px !important;
	padding-left: 50px !important;
}
